.header {
    text-align: center;
    font-size: 100px;
    font-family: sans-serif;
    color: blue;
    background-color: darkgray;
    margin-top: 50px;
    border-style: double;
    border-color: blue;
}

.column {
    float: left; 
    width: 50%;
    font-family: serif;
}

.button {
    display: flex;
    float: right;
    flex-direction: column;
    gap: 15px;
    width: 200px;
    margin-top: -200px;
    padding-right: 50px;
    font-size: 200px;
}

.info {
    list-style-type: lower-alpha;
}