*{
    color: coral;
    background-color: honeydew;
    border-color: coral;
}

.header {
    text-align: center;
    font-size: 100px;
    font-family: sans-serif;
    color: coral;
    background-color: honeydew;
    margin-top: 50px;
    border-style: double;
    border-color: coral;
}

#summary {
    display: grid;
    grid-template-columns: 50% 25% 25%;
}

.column {
    float: left; 
    width: 50%;
    font-family: serif;
    font-size: 20px;
}

.menu {
    display: flex;
    border-color: coral;
    float: right;
    flex-direction: column;
    gap: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-style: double;
    border: 200px;
}

.list {
    list-style-type: lower-alpha;
}

.title {
    text-decoration: underline;
}

.button {
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}